:root {
    --azul: #007bff;
    --azulOscuro: #0069D9;
    --fondo: rgba(254, 254, 254, 0.1);
    --borde: #ced4da;
    --blanco: #FFF;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit; /* Hack box model */
}
body {
    font-size: 1.6rem; /* Hack box model */
    background-image: url(../img/fondo.png);
    color: var(--blanco);
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
}

.contenedor {
    text-align: center;
    margin: 100px;
}

.texto h1 {
    font-weight: normal;
    font-size: 3.5rem;
    margin: 0 0 18px 0;
}
.texto p {
    text-transform: uppercase;
    font-size: 3.5rem;
    margin: 0 0 40px 0;
    
}
.texto span {
    text-transform: none;
    font-weight: normal;
    font-size: 3.5rem;
}

.login {
    background-color: var(--fondo);
    margin: 0 auto;
    width: 380px;
    height: 380px;
    padding: 12px 0 100px 0;
}

.logo img {
    width: 30%;
}

.logo {
    text-align: center;
    margin: 0;
    padding: 0 20px 20px 20px;
}
.logo p {
    color: #000;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 2.5rem;
}

.formulario input {
    background-color: var(--blanco);
    border: 1px solid var(--borde);
    border-radius: 5px;
    padding: 0.8rem;
}

.btn {
    background-color: var(--azul);
    color: var(--blanco);
    border: none;
    padding: 1rem;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--azulOscuro);
}